.Game {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.Positions {
  width: 100%;
  height: 100%;
}

.Squares {
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.Pieces {
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
